@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
}
body {
  @apply bg-bg text-txt font-sans antialiased;
}
.tnum {
  font-variant-numeric: tabular-nums;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-thumb {
  background: #232428;
  border-radius: 9px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2d2e34;
}
::-webkit-scrollbar-track {
  background: transparent;
}

/* recharts focus outline cleanup */
.recharts-surface:focus {
  outline: none;
}
